/* Animation  */
.fadeInUp {
  animation: FadeInUp 1s ease-out forwards;
}

@keyframes FadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Question */

.main-question {
  background-image: url(/public/images/page/homepage1/bg-faqs.png);
  background-position: left -100px bottom 50px;
  background-repeat: no-repeat;
  padding: 80px 0 120px 0;
  transition: transform .2s ease-in-out;
}

.box-ques {
  max-width: 770px;
  margin: auto;
}

.ques-haeder>h2 {
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.accordion-item {
  border-bottom: 1px solid #e5e5e5;
  transition: all .4s ease;
  position: relative;
  z-index: 100;
}

.accordion-button {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding: 20px 0;
  cursor: pointer;
  color: #181a1f;
  border: 0;
  border-top-left-radius: 8px;
  background-color: #fff;
  transition: all .4s ease;
  text-align: start;
  position: relative;
}

.accordion-button::after {
  margin-left: auto;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(/public/images/icons/plus.png);
  background-size: 30px;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/public/images/icons/minus.png);
  transition: all .4s ease;
  transform: rotate(180deg);
}

.accordion-body {
  opacity: 0;
  transform: translateY(-20px);
  padding: 0 0 20px;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.4s ease-in-out;
}

.accordion-body.open {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.4s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion-body.closed {
  animation: fadeOutDown 0.4s ease-in-out forwards;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}


/* Partner */

.main-partner {
  padding-top: 65px;
  padding-bottom: 55px;
  border-bottom: 1px solid #dee2e6 !important;
}

.sub-partner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner-content {
  width: 70%;
  flex: 0 0 auto;
}

.partner-heading {
  width: 30%;
  flex: 0 0 auto;
}

.partner-heading h3 {
  font-size: 24px;
  line-height: 32px;
}

.partner-img {
  display: flex;
  justify-content: space-between;
}

.partner-img>li>img {
  transition: all .3s ease 0s;
}

.partner-img>li>img:hover {
  transition: all .25s cubic-bezier(.02, .01, .47, 1);
  transform: translateY(-5px);
}

/* CarClasses2 */

/* ***********************
    Services Box
*************************/
.car-animation {
  position: relative;
}

.services-container {

  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.services-container .service-list {

  margin-top: 60px;
  justify-content: space-evenly;
}

.services-container .service {

  width: 22%;

}

.services-container .service a {
  text-decoration: none;
}

.services-container .service:nth-child(1) {
  margin-top: 50px;
}

.services-container .service:nth-child(3) {
  margin-top: 50px;
}

.services-container .services-box {

  background-color: #ffffff;
  border-radius: 5px;
  border-bottom: 4px solid transparent;
  transition: all 0.15s ease-in-out;
  text-align: center;
  padding: 70px 15px 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.services-container .services-box:hover {
  box-shadow: 0px 8px 20px rgba(27, 27, 27, 0.08);
  border-bottom: 4px solid #FDC501;
}

.services-container h3 {
  margin-top: 45px;
}

.services-container h3 a {

  font-size: 25px;
  color: #3E4958;
}

/* ********************
  price and classes
************************/
.car-animation2 {
  padding-bottom: 450px;

}

.price-main-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -35%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.price-container {
  max-width: 85%;
  margin-top: 50px;
}

.price-container .price-box {
  background-color: var(--white);
  padding: 55px 40px 70px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  box-shadow: 0px 8px 20px rgba(27, 27, 27, 0.08);

}

.price-container .pricing {
  flex-direction: column;
  align-items: center;
}

.price-container .pricing-image {
  margin-top: 23px;
  max-width: 146px;
  height: 56px;
}

.price-container .pricing-title {
  margin-top: 45px;
  color: #3E4958;
  font-size: 30px;
  font-weight: 500;
}

.price-container .pricing-text {
  margin-top: 22px;
  color: #767E88;
  line-height: 1.333;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

.price-container .pricing-price {
  margin-top: 23px;
  font-weight: bold;
}

.pricing-value {
  font-size: 48px;
  color: #FDC501;

}

.pricing-postfix {
  color: #FDC501;
  font-size: 24px;
}